In [2]:
# convert number students from str to int, remove comma
# this is done in google colab and this is for reference only
import pandas as pd
url = "https://raw.githubusercontent.com/cchwee/viz_worlduniranking/main/universities_ranking.csv?token=AUY7IVYFPQLY5BDRAS34AWDBM7ASY"
df1 = pd.read_csv(url)
df1['number students'] = pd.to_numeric(df1['number students'].replace(",", "", regex=True))
df1.head()

,ranking,title,location,number students,students staff ratio,perc intl students,gender ratio
0,1,University of Oxford,United Kingdom,20774,11.1,41%,46 : 54
1,2,Stanford University,United States,16223,7.4,23%,44 : 56
2,3,Harvard University,United States,21261,9.3,25%,49 : 51
3,4,California Institute of Technology,United States,2238,6.3,33%,36 : 64
4,5,Massachusetts Institute of Technology,United States,11276,8.4,34%,39 : 61

In [ ]:
# export the file to csv
from google.colab import files
df1.to_csv('edited_uni_data.csv')
files.download('edited_uni_data.csv')